.AccountForm {
  width: 370px;
}

#account-form-header {
  background-color: rgb(19, 122, 172);
  font-size: 1.3em;
  color: white;
  text-indent: 10px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
}

.field-title {
  margin-bottom: 2px;
}

.form-field {
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(164, 164, 164);
}

#account-form-submit-button {
  width: 80px;
  height: 25px;
  margin-top: 5px;
  background-color: rgb(24, 66, 194);
  color: white;
  border-style: none;
}
